.seccion-logros{
    margin-top: 100px;
}
.titulo-estadistica{
    color: #7C3AED;
    font-family: Inter, sans-serif;
    font-weight: bold;
    margin-bottom: 25px;
}
.title-tarjetas{
    font-family: Inter, sans-serif;
}
.text-tarjetas{
    font-family: Montserrat, sans-serif;
    font-weight: 600;
}
.pregunta_ocultada{
    display: none !important;
}

.btn_mostrar_respuesta{
    background-color: #7C3AED !important;
    color: white !important;
}

.color_morado_redimiento{
    color: #6033ad !important;
}

.container-grafica1{ /* */
    width: 60%;
    margin-left: auto;
    margin-right: 5%;
    margin-top: 5%;
    padding: 10px;
    border: 3px solid #7C3AED;
}
/*Diseño barras de progreso categorias */
.title-categorias{
    font-family: Inter, sans-serif;
}
@media (max-width: 576px){
    #seccion-estadisticas{
        justify-content: center ;
    }
    .titulo-estadistca{
        text-align: center;
        margin-bottom: 20px;
    }
    
    .seccion-retroalimentacionn{
        margin-left: 20px;
        margin-right: 20px;
    }
    .titulo-retroalimentacion{
        text-align: center;
    }


}
