.seccion-logros{
    margin-top: 100px;
}
.container-grafica1{ /* */
    width: 60%;
    margin-left: auto;
    margin-right: 5%;
    margin-top: 5%;
    padding: 10px;
    border: 3px solid #7C3AED;
}