
/*seccion mision principal nosotros*/
#seccion-mision{
    margin-top: 80px;
}

#img-mision{
    margin-left: 200px;
    width: 300px;
    height: 300px;
}

#seccion-mision h1{
    margin-top: 20px;
}
#seccion-mision p{
    margin-top: 30px;
}

#mision-button{
    padding-top: 20px;
}
#mision-button button{
    background-color: #7C3AED;
    color: white;
}




/*diseño tecnologias utilizadas*/
.tecnologias-title{
    text-align: center;
    margin: 2%;
    font-family: Inter, sans-serif;
    font-weight: bold;
    color:#7C3AED;
}
.fila-tarjeta-tecnologias > *{
    align-items: center;
    border: none;
}
.tarjeta-tecnologias{
    width: 13rem;
    background-color: #86edff;
    margin: 5px;
}
.card-img-top{
    background-color: #86edff;
    margin-top: 10px;
}
.object-fit-cover{
    height: 160px;
}
.body-tecnologias{
    height: 10%;
    margin-top: 60px;
    border: none;
}
.img-tecnologias-apis{
    margin-top: 40px;
}
.texto-tecnologias{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #A15100;
}
#texto-api-1{
    margin-top: 15px;
}
/*diseño referencia a las apis publicas*/
.referencia-apis-title{
    margin-top: 5%;
    margin-bottom: 2%;
    color:#7C3AED;
    font-family: Inter, sans-serif;
    font-weight: bold;
}
.referencia-apis-text{
    color:#3d1f00;
}
.json-title{
    text-align: center;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #A15100;
}
.img-json{
    width: 95%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 4px solid #06B6D4;
}



@media (max-width: 576px){
    #seccion-mision-resposividad{
        display: grid;
        grid-template-columns: 95%;
        justify-content: center;
    }
    #seccion-mision-resposividad img{
        margin-top: 30px;
    }
    
    #seccion-principios-responsividad{
        padding-left: 25px;
        padding-right: 25px;
    }
    .fila-tarjetas-tecnologia{
        justify-content: center;
        margin-top: 20px;
        display: grid;
        grid-template-columns: 40% 40%;
        gap: 15px;
    }
    #seccion-mision{
        margin-top: 30px;
    }
    #seccion-referencia-resposividad{
        padding-left: 25px;
        padding-right: 25px;
    }
    .redes-sociales{
        display: grid;
        grid-template-columns: 20px 20px;
        margin-top: 15px;
    }
    #ig2{
        margin-left: 75px;
    }
    #ig2-f{
        margin-left: 25px;
    }


}

@media screen and (min-width: 876px){
    .redes-sociales{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: start !important;
        margin-top: 15px;
    }
    #ig2{
        margin-left: 20px ;
    }

}
