/* Diseño barra de progreso */
.progress{ 
    width: 40%;
    background-color:#06B6D4;
    margin: 1% auto;
}
.progress-bar{ /* */
    color: white;
    background-color:#A15100;
    height: 100%;
}
.title-progress{
    text-align: center;
    margin: auto;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: bold;
}
/* Diseño de la pregunta del quiz */
.tarjeta-quiz{
    width: 100%;
    height: 100%;
    padding: 20px;
    margin-top: 30px;
    border: 2px solid #06B6D4;
    background-color: #cdf7ff;
}
.img-quiz{
    width: 50%; 
    margin: 2% 25%;
    border: 3px solid #7C3AED;
}
.category-title{
    margin-left: 9%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #A15100;
    font-family: Inter, sans-serif;
}
.question-title{
    text-align: left;
    margin-left: 9%;
    margin-top: 2%;
    color: #7C3AED;
    font-size: 20px;
    font-weight: bold;
    font-family: Inter, sans-serif;
}
.alternativa-a{
    background-color: #06B6D4; 
    color: #333;
    border: 1px solid #06B6D4; 
    margin-top: 3%;
    width: 20%;
    font-size: 18px;
    padding: 10px 22px; 
    font-family: Montserrat, sans-serif;
    font-weight: 500;
}
.alternativa-a:hover{
    background-color: #A15100;
    color: white;
}
.alternativa-b{
    background-color: #06B6D4; 
    color: #333;
    border: 1px solid #06B6D4; 
    margin-top: 3%;
    margin-left: 5%;
    width: 20%;
    font-size: 18px;
    padding: 10px 22px; 
    font-family: Montserrat, sans-serif;
    font-weight: 500;
}
.alternativa-b:hover{
    background-color: #A15100;
    color: white;
}
.alternativa-c{
    background-color: #06B6D4; 
    color: #333;
    border: 1px solid #06B6D4; 
    margin-top: 3%;
    width: 20%;
    font-size: 18px;
    padding: 10px 22px; 
    font-family: Montserrat, sans-serif;
    font-weight: 500;
}
.alternativa-c:hover{
    background-color: #A15100;
    color: white;
}
.alternativa-d{
    background-color: #06B6D4; 
    color: #333;
    border: 1px solid #06B6D4; 
    margin-top: 3%;
    margin-left: 5%;
    width: 20%;
    font-size: 18px;
    padding: 10px 22px; 
    font-family: Montserrat, sans-serif;
    font-weight: 500;
}
.alternativa-d:hover{
    background-color: #A15100;
    color: white;
}
.saltar{
    padding: 10px 22px; 
    font-size: 14px;
    font-weight: 600; 
    font-family: Montserrat, sans-serif;
    border: none;
    width: 160px;
    margin-top: 3%;
    background-color: #7C3AED;
}
.saltar:hover{
    background-color: #06B6D4;;
    color: #333;
}
.siguiente{
    padding: 10px 22px; 
    font-size: 14px;
    font-weight: 600; 
    font-family: Montserrat, sans-serif;
    border: none;
    width: 160px;
    margin-top: 3%;
    background-color: #7C3AED; 
}
.siguiente:hover{
    background-color: #06B6D4;
    color: #333;
}
/*Clases para mostrar/ocultar el mensaje "Traduciendo preguntas" */
#mostrar-mensaje{
    display: block;
}
.ocultar-circulo-cargando{
    display: none;
}
/*Diseño de la parte de resultados del quiz*/
.results {
    text-align: center;
}

.result-icon {
    font-size: 4rem;
    margin-bottom: 20px;
}

.score {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.salir{
    padding: 10px 22px; 
    font-size: 14px;
    font-weight: 600; 
    border: none;
    width: 160px;
    margin-top: 3%;
    background-color: #7C3AED;
}
.intentarOtraVez{
    padding: 10px 22px; 
    font-size: 14px;
    font-weight: 600; 
    border: none;
    width: 160px;
    margin-top: 3%;
    background-color: #7C3AED;
}
/*Diseño Footer*/
.mensaje-final-footer{
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
} 
/*Responsividad*/
@media (max-width: 578px){
    .siguiente, .saltar{
        margin-left: 140px;
    }
    .alternativa-a, .alternativa-b, .alternativa-c, .alternativa-d{
        width: 100%;
    }
    .alternativa-b, .alternativa-d{
        margin-left: 0px;
    }
}